.header, .footer {
    background: white;
}
.layout {
    display:flex;
    padding: 10px;
}
.layout DIV {
    padding: 0 10px 10px 10px;
}
.col1 {
    background: white;
    width: calc(100%/3 - 20px);
}
.col2 {
    background: white;
    width: calc(100%/3 - 20px);
}
.col3 {
    background: white;
    width: calc(100%/3 - 20px);
}
.layout img{
    width: 100%;
}
div{
    padding:20px;
}
.shadow{
    box-shadow: 0 0 5px 2px;
}
.header, .footer {
    padding: 10px 20px 10px 20px;
}

