span nav ul, span nav {
    color: #444444;
    list-style-type: none;
    padding-left: 1px;
    margin-bottom: 1px;
}

span nav ul li:first-child {
    font-weight: 700;
    font-size: 110%;
}
span nav span li:last-child {
    border-bottom: solid 1px #000;
}
span nav ul li:first-child::before{
    content: '';
    font-size: 1px;
    background: #000;
}
span a{
    text-decoration: none;
    color: #444444;
}
.menu {
    width: 100%;
    padding: 5px;

}

span a:hover, span a:focus
 {
    background: #999999;
    text-decoration: underline;

}