body header h1 a img:hover {
    transform: rotate(180deg);
    text-align: center;
  }

body header + main section article {

    text-align: center;
    background-color: mediumvioletred;
}

body header + main + footer {
    text-align: center;
    background-color: gainsboro;
    border-left:bisque;
}